# SPDX-License-Identifier: GPL-2.0-only
menu "Intel Discrete Graphics non-volatile memory driver"

config MTD_INTEL_DG
	tristate "Intel Discrete Graphics non-volatile memory driver"
	depends on m
	depends on AUXILIARY_BUS
	depends on MTD
	help
	  This provides an MTD device to access Intel Discrete Graphics
	  non-volatile memory.

	  To compile this driver as a module, choose M here: the module
	  will be called mtd-intel-dg.

endmenu
