Makefile.in
aclocal.m4
autom4te.cache/
configure
compile
install-sh
missing
src/.config*
src/.kernel_config_md5
src/Kconfig.kernel
src/Kconfig.versions
src/backport-include/backport/autoconf.h
src/backport-include/backport/automacro.h
src/backport-include/backport/*.in
