Package: intel-xe-dkms
Version: 6.14.0.37+6.17.13.62.260409.10+i1-1
Architecture: all
Maintainer: Intel Linux Graphics Team <linux-graphics@intel.com>
Installed-Size: 6534
Depends: dkms, flex, bison, libc6-dev | libc-dev, mawk
Provides: xe-modules
Section: kernel
Priority: optional
Homepage: https://www.intel.com
Description: Out of tree xe driver.
