Kconfig.kernel
Kconfig.versions
.kernel_config_md5
.config
.config.old
*~
*.o
*.d
.tmp_*
*.ko
*.cmd
*.tmp
*.ver
*.mod
modules.order
src/backport-include/backport/autoconf.h
src/backport-include/backport/stamp-h1
src/backport-include/backport/backport_path.h
src/kconf/zconf.lex.c
src/kconf/zconf.tab.c
modules
.tmp_versions
Module.symvers
*.mod.c
*.mod
.cache.mk
*built-in.a
configure
autom4te.cache*
*compile
*install-sh
*missing
*tags
aclocal.m4
Makefile
Makefile.in
*/*.2
config.log
config.status
src/backport-include/backport/backport_auto.h*
