config BACKPORT_INTEGRATE
	bool
	def_bool y

config BACKPORT_DIR
	string
	default "%%BACKPORT_DIR%%"

config BACKPORTS_RELEASE_TAG
	string
	default "%%BACKPORTS_RELEASE_TAG%%"

config BASE_KERNEL_HEAD
	string
	default "%%BASE_KERNEL_HEAD%%"

config BASE_KERNEL_NAME
	string
	default "%%BASE_KERNEL_NAME%%"

config TARGET_KERNEL_VERSION
	string
	option env="TARGET_KERNEL_VERSION"

menuconfig BACKPORT_LINUX
	bool "Backport %%BASE_KERNEL_NAME%% %%BASE_KERNEL_HEAD%% (backports %%BACKPORTS_RELEASE_TAG%%)"
	default n
	---help---
	  Enabling this will let give you the opportunity to use features and
	  drivers backported from %%BASE_KERNEL_NAME%% %%BASE_KERNEL_HEAD%%
	  on the kernel your are using. This is experimental and you should
	  say no unless you'd like to help test things or want to help debug
	  this should we run into any issues.

if BACKPORT_LINUX

source "$BACKPORT_DIR/Kconfig.versions"
source "$BACKPORT_DIR/Kconfig.sources"
source "$BACKPORT_DIR/Kconfig.local"

endif # BACKPORT_LINUX
