mainmenu "Backports from $BASE_KERNEL_NAME $BASE_KERNEL_HEAD (backports $BACKPORTS_RELEASE_TAG)"

config BACKPORT_DIR
	string
	option env="BACKPORT_DIR"
	help
	   Path to current backport directory
config BACKPORTS_RELEASE_TAG
	string
	option env="BACKPORTS_RELEASE_TAG"
	help
	   Backports Releases Tag info
config BASE_KERNEL_HEAD
	string
	option env="BASE_KERNEL_HEAD"
	help
	   contains HEAD commit of base kernel
config BASE_KERNEL_NAME
	string
	option env="BASE_KERNEL_NAME"
	help
	   contains name of base kernel
config BASE_KERNEL_TAG
	string
	option env="BASE_KERNEL_TAG"
	help
	   contains Tag info of base kernel
config TARGET_KERNEL_NAME
	string
	option env="TARGET_KERNEL_NAME"
	help
	   Target kernel against which backport are created.
config OOT_BACKPORT
	string
	option env="OOT_BACKPORT"
	help
	   Macro to control backport specific features

# Packaging hacks
source "$BACKPORT_DIR/Kconfig.package.hacks"

# Code we backport
source "$BACKPORT_DIR/Kconfig.sources"

# these will be generated
source "$BACKPORT_DIR/Kconfig.kernel"
source "$BACKPORT_DIR/Kconfig.versions"
source "$BACKPORT_DIR/Kconfig.local"
