# this has the configuration for the backport code
source "$BACKPORT_DIR/compat/Kconfig"

# these are copied from the kernel
source "$BACKPORT_DIR/drivers/gpu/drm/xe/Kconfig"
source "$BACKPORT_DIR/drivers/mtd/devices/Kconfig"

#VFIO
source "$BACKPORT_DIR/drivers/vfio/pci/xe/Kconfig"
