config BACKPORTED_BACKPORT_DIR
	tristate
	default BACKPORT_DIR
config BACKPORTED_BACKPORTS_RELEASE_TAG
	tristate
	default BACKPORTS_RELEASE_TAG
config BACKPORTED_BASE_KERNEL_HEAD
	tristate
	default BASE_KERNEL_HEAD
config BACKPORTED_BASE_KERNEL_NAME
	tristate
	default BASE_KERNEL_NAME
config BACKPORTED_BASE_KERNEL_TAG
	tristate
	default BASE_KERNEL_TAG
config BACKPORTED_TARGET_KERNEL_NAME
	tristate
	default TARGET_KERNEL_NAME
config BACKPORTED_OOT_BACKPORT
	tristate
	default OOT_BACKPORT
config BACKPORTED_BP_MODULES
	tristate
	default BP_MODULES
config BACKPORTED_BPAUTO_USERSEL_BUILD_ALL
	tristate
	default BPAUTO_USERSEL_BUILD_ALL
config BACKPORTED_KERNEL_6_6
	tristate
	default KERNEL_6_6
config BACKPORTED_KERNEL_6_7
	tristate
	default KERNEL_6_7
config BACKPORTED_BUILD_XE_DRM_GPUVM
	tristate
	default BUILD_XE_DRM_GPUVM
config BACKPORTED_DRM_GPUVM
	tristate
	default DRM_GPUVM
config BACKPORTED_DRM_XE
	tristate
	default DRM_XE
config BACKPORTED_DRM_XE_DISPLAY
	tristate
	default DRM_XE_DISPLAY
config BACKPORTED_DRM_XE_DP_TUNNEL
	tristate
	default DRM_XE_DP_TUNNEL
config BACKPORTED_DRM_XE_GPUSVM
	tristate
	default DRM_XE_GPUSVM
config BACKPORTED_DRM_XE_PAGEMAP
	tristate
	default DRM_XE_PAGEMAP
config BACKPORTED_DRM_XE_FORCE_PROBE
	tristate
	default DRM_XE_FORCE_PROBE
config BACKPORTED_PRELIM_DRM_XE_EUDEBUG
	tristate
	default PRELIM_DRM_XE_EUDEBUG
config BACKPORTED_DRM_XE_WERROR
	tristate
	default DRM_XE_WERROR
config BACKPORTED_DRM_XE_DEBUG
	tristate
	default DRM_XE_DEBUG
config BACKPORTED_DRM_XE_DEBUG_VM
	tristate
	default DRM_XE_DEBUG_VM
config BACKPORTED_DRM_XE_DEBUG_MEMIRQ
	tristate
	default DRM_XE_DEBUG_MEMIRQ
config BACKPORTED_DRM_XE_DEBUG_SRIOV
	tristate
	default DRM_XE_DEBUG_SRIOV
config BACKPORTED_DRM_XE_DEBUG_MEM
	tristate
	default DRM_XE_DEBUG_MEM
config BACKPORTED_DRM_XE_KUNIT_TEST
	tristate
	default DRM_XE_KUNIT_TEST
config BACKPORTED_DRM_XE_DEBUG_GUC
	tristate
	default DRM_XE_DEBUG_GUC
config BACKPORTED_DRM_XE_USERPTR_INVAL_INJECT
	tristate
	default DRM_XE_USERPTR_INVAL_INJECT
config BACKPORTED_DRM_XE_JOB_TIMEOUT_MAX
	tristate
	default DRM_XE_JOB_TIMEOUT_MAX
config BACKPORTED_DRM_XE_JOB_TIMEOUT_MIN
	tristate
	default DRM_XE_JOB_TIMEOUT_MIN
config BACKPORTED_DRM_XE_TIMESLICE_MAX
	tristate
	default DRM_XE_TIMESLICE_MAX
config BACKPORTED_DRM_XE_TIMESLICE_MIN
	tristate
	default DRM_XE_TIMESLICE_MIN
config BACKPORTED_DRM_XE_PREEMPT_TIMEOUT
	tristate
	default DRM_XE_PREEMPT_TIMEOUT
config BACKPORTED_DRM_XE_PREEMPT_TIMEOUT_MAX
	tristate
	default DRM_XE_PREEMPT_TIMEOUT_MAX
config BACKPORTED_DRM_XE_PREEMPT_TIMEOUT_MIN
	tristate
	default DRM_XE_PREEMPT_TIMEOUT_MIN
config BACKPORTED_DRM_XE_ENABLE_SCHEDTIMEOUT_LIMIT
	tristate
	default DRM_XE_ENABLE_SCHEDTIMEOUT_LIMIT
config BACKPORTED_MTD_INTEL_DG
	tristate
	default MTD_INTEL_DG
